<p class="text-center ps-3" [ngClass]="isUserValid?'text-success pb-1':'text-danger pb-1'">
    {{displayMsg}}</p>


<form class="border p-3 rounded-3" [formGroup]="loginform" (ngSubmit)="loginSubmitted()">
    <div class="row g-0">
        <div class="col text-center bg-light p-2 mb-3">
                <span class="ps-3">Login</span>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
            Email Required
        </div>
        <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
            Email Invalid
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)">
            Password Required
        </div>
        <div class="form-text text-danger" *ngIf="Password.errors?.['minlength' || 'maxlength'] && (Password.dirty || Password.touched)">
            Password shoubld between 6 and 12 characters
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" [disabled]="false" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>